<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Blog - Blogosaurus</title>
    <%- include('partials/head') %>
        <style>
            .form-label {
                font-weight: bold;
            }

            .container {
                margin-top: 50px;
                max-width: 500px;
                /* Limit the width of the form container */
            }

            body {
                overflow-y: hidden;
                /* Prevent vertical scrolling */
            }
        </style>
</head>

<body class="bg-info d-flex flex-column min-vh-100">
    <%- include('partials/navbar.ejs') %>
        <%- include('partials/script.ejs') %>
            <div class="container col-md-5 card card-body mt-5">
                <h1 class="text-center">Create New Blog</h1>
                <form action="/blog/add-new" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Description</label>
                        <textarea class="form-control" name="body" placeholder="Leave a comment here"
                            id="body"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="coverImageURL" class="form-label">Blog Cover Image</label>
                        <input type="file" class="form-control" name="coverImageURL" id="coverImageURL">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </form>
            </div>
</body>

</html>