<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blogosaurus</title>
    <%- include('partials/head') %>

</head>

<body>
    <%- include('partials/navbar.ejs') %>
        <%- include('partials/script.ejs') %>
            <div class="container col-md-5 card card-body mt-5">
                <h1 class="text-center">Welcome to Blogosaurus</h1>
            </div>
</body>

</html>