<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blogosaurus</title>
    <%- include('partials/head') %>

</head>

<body>
    <%- include('partials/navbar.ejs') %>
        <%- include('partials/script.ejs') %>
</body>

</html>