<!DOCTYPE html>
<html lang="en">

<head>
    <title>SignUp - Blogosaurus</title>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
        <%- include('partials/script.ejs') %>
            <div class="container col-md-5 card card-body mt-5">
                <h1>SignUp</h1>
                <form action="/user/signup" method="post">
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="fullName" name="fullName"
                            aria-describedby="fullNameHelp">
                        <div id="fullNameHelp" class="form-text">We'll never share your name with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
</body>

</html>